<section class="recos-container">
  <% if !@recommendations.empty? %>
  <div class="recos">
    <% @recommendations.each do |reco| %>
      <div class="card-container">
        <div class="mm-card shadow4 shadow6h bOWhite1">
          <h3 class="reco-name"><%= reco.name %></h3>
          <p class="wiki-link"><%= link_to "wiki", reco.wiki_url, class: "wiki-link-font" %></p>
          <div class="video-box">
            <iframe class="mm-card-vid" src='https://www.youtube.com/embed/<%= reco.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe><br>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% else %>
  <div class="recos-container-sad-path">
    <p class="invalid-message">Your search did not return any results. Try formatting your search differently, i.e. 'the beatles', or 'monopoly'.</p>
  <% end %>
  <%= link_to "make another search", root_path, class: "make-another-search-link" %>
</div>
</section>
