<section class="recos-container">
  <div class=""></div>
  <div class=""></div>
    <% if !@recommendations.empty? %>
    <div class="recos">
      <% @recommendations.each do |reco| %>
      <div class="card-container">
        <div class="mm-card shadow4 shadow6h bOWhite1">
          <h3 class="reco-name"><%= reco.name %></h3>
          <p class="wiki-link"><%= link_to "wiki", reco.wiki_url %></p>
          <div class="video-box">
            <iframe class="mm-card-vid" src='https://www.youtube.com/embed/<%= reco.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe><br>
          </div>
        </div>
      </div>
        <% end %>
      </div>
    <% else %>
      <p>Returned Nothing</p>
    <% end %>
  <%= link_to "make another search", root_path %>
</section>
